footer {
    background-color: rgb(33, 37, 41);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
  }
  
  .contacto-section {
    padding-top: 0px;
    background-color: rgb(33, 37, 41);
    text-align: center;
    border-bottom: 0px;
  }
  
  .contacto-section h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .contacto-section p {
    font-size: 16px;
    color: #ccc;
  }
  
  .contacto-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .contacto-section li {
    margin-bottom: 10px;
    color: #ccc;
  }
  